---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page 2">
	<div class="fade-in">
		<h1>Page 2</h1>
		<p>This is a simple static page to demonstrate navigation.</p>
		<p>The design remains consistent with the minimal theme.</p>
	</div>

	<style is:inline>
		@scope {
			h1,
			p {
				color: deeppink;
			}
		}
	</style>
</Layout>
