---
import Button from "../../components/Button.astro";
---

<div class="card fade-in">
  <h2>Chunk 1 Loaded</h2>
  <p>
    This content was loaded dynamically from <code>/partials/chunk-1</code>.
  </p>

  <div style="margin-top: 1rem;">
    <Button
      hx-get="/partials/chunk-2"
      hx-target="#chunk-2-container"
      hx-swap="innerHTML"
    >
      Load Chunk 2
    </Button>
  </div>

  <p>Inside the scope</p>

  <div id="chunk-2-container" style="margin-top: 1rem;"></div>
</div>

<style is:inline>
  @scope to (* > :not(p, h2)) {
    :scope {
      border: 1px solid var(--color-border);
      padding: calc(var(--spacing-unit) * 2);
      border-radius: 8px;
      margin-block-start: var(--spacing-unit);
    }

    p,
    h2 {
      color: green;
    }
  }
</style>
